<div class="map" style="background-image: url(<%= @flat.picture_url %>);">
</div>

<div class="container margin-top-negative">
  <div class="col-md-8">
    <div class="flat-show-card">
      <h2><%= @flat.name %></h2>
      <p><%= @flat.address %></p>

    </div>
    <div class="flat-show-card">
      <h4><strong>A bit more about this Flat..</strong></h4>
      <h4><%= @flat.description %></h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="flat-show-card">
      <h3>Book this place !</h3>
      <form action="">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">From:</span>
          <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mt-2">
          <span class="input-group-addon" id="basic-addon1">To:</span>
          <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
      </form>
    </div>
    <div class="flat-show-card">
      <h3>Details</h3>
      <ul class="list-inline">
        <li><%= @flat.price_per_night %> <i class="fas fa-euro-sign"></i></li>
        <li><%= @flat.number_of_guests %> <i class="fas fa-users"></i></li>
      </ul>
    </div>
    <div class="flat-show-card">
      <div class="flex-align">
        <h5>Share !</h5>
        <div class="flex">
          <i class="fab fa-facebook icon-style"></i>
          <i class="fab fa-twitter-square icon-style"></i>
          <i class="fab fa-pinterest-square icon-style"></i>
          <i class="fas fa-envelope-square icon-style"></i>
        </div>
      </div>
    </div>
  </div>
</div>
