<div class="map" style="background-image: url(<%= @flat.picture_url %>);">
</div>

<!--
<div class="map">
</div> -->
<div class="container flex-container">
  <div class="col-md-8">
    <div class="flat-show-card">
      <h2><%= @flat.name %></h2>
      <p><%= @flat.address %></p>

    </div>
    <div class="flat-show-card">
      <h4><strong>A bit more about this Flat..</strong></h4>
      <h4><%= @flat.description %></h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="flat-show-card">
      <h3>Book this place !</h3>
    </div>
    <div class="flat-show-card">
      <h3>Details</h3>
      <ul class="list-inline">
        <li><%= @flat.price_per_night %> <i class="fas fa-euro-sign"></i></li>
        <li><%= @flat.number_of_guests %> <i class="fas fa-users"></i></li>
      </ul>
    </div>
    <div class="flat-show-card">
      <h5>Share !</h5>
    </div>
  </div>
</div>
